<hedivder>
    <div class="container-fluid">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-area-chart" style="font-size:15px;color:green;"></i> ダッシュボード</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-check" style="font-size:15px;color:green;"></i> ストレスチェンク</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-list" style="font-size:15px;color:green;"></i> カウンセリング実施状況</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-th-list" style="font-size:15px;color:green;"></i> ハラスメント一覧</a></li>          
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-group" style="font-size:15px;color:green;"></i> 従業員登録</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-comments" style="font-size:15px;color:green;"></i> 健康管理</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-user-o" style="font-size:15px;color:green;"></i> ユーザ情報変更</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-cog" style="font-size:15px;color:green;"></i> 契約管理</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-gear" style="font-size:15px;color:green;"></i> システム管理</a></li>
            <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-sign-out" style="font-size:15px;color:green;"></i> ログアウト</a></li>
            <li class="nav-item"><a class="nav-link" href="http://localhost:3000/mylogin"><i class="fa fa-edit" style="font-size:15px;color:green;"></i> 研修設定</a></li>
        </ul>
    </div>
</header>