<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test pages</title>
    <style>
        * {
            box-sizing: border-box
        }

        /* Set height of body and the document to 100% */
        body,
        html {
            height: 100%;
            margin: 0;
            font-family: Arial;
        }

        /* Style tab links */
        .bg {
            background-color: rgb(234, 233, 233);
            height: auto;
            padding: 10px;
        }

        .tablink {
            background-color: rgb(234, 233, 233);
            color: black;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 17px;
            width: 10%;
            margin: 5px;
            margin-bottom: 0px;
        }

        .tabbar {
            display: flex;
            justify-content: left;
            width: 100%;
        }

        .tablink:hover {
            color: rgb(242, 11, 11);
        }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
            color: black;
            height: 100%;
            display: none;
        }

        #test_list {
            background-color: rgb(222, 247, 254);
            padding: 20px;
        }

        #theme_list {
            background-color: rgb(222, 247, 254);
            padding: 20px;

        }

        table {
            text-align: center;
        }

        .newThemebt {
            padding: 5px;
            margin-bottom: 10px;
            margin-right: 40px;
            color: white;
            background-color: royalblue;
            font-size: 15px;
            height: 40px;
            width: 100px;
            text-align: center;
            text-decoration: none;
        }

        .newThemebt:hover {
            color: yellow;
        }

        .newbtdiv {
            display: flex;
            justify-content: right;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <%- include('header') -%>
    <div id="theme_list" >
        <div class="newbtdiv">
            <a href="/newtheme" class="newThemebt">
                新規作成
            </a>
        </div>
        <table class="table table-bordered">
            <thead style="background-color: rgb(231, 195, 94);">
                <tr>
                    <th>テーマ名</th>
                    <th>アイコン</th>
                    <th>作成者</th>
                    <th>提供開始日</th>
                    <th>最終更新日</th>
                    <th>詳細</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody id="theme_tbody"></tbody>
        </table>
    </div>
    <%- include('footer') -%>
    <script>
        function loadPage()
        {
            var xmlhttp = new XMLHttpRequest();
                xmlhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        //document.getElementById("theme_list").innerHTML = this.responseText;
                        let res = JSON.parse(this.response);
                        var html = "";
                        res.data.forEach(row => {
                            html += "<tr>" + "<td>" + row.theme_name + "</td>";
                            html += "<td><img src='"+row.image+"' width = '50' height = '70'></td>";
                            html += "<td>" + row.user + "</td>";
                            html += "<td>" + row.first_date + "</td>";
                            html += "<td>" + row.last_update_date + "</td>";
                            html += "<td><button onclick=\"openThemeDetail('" + row.theme_id + "')\">詳細</button></td>";
                            html += "<td><button onclick=\"deleteTheme('" + row.theme_id + "')\">削除</button></td></tr>";
                        });
                        document.getElementById("theme_tbody").innerHTML = html;

                    }
                };
                xmlhttp.open("POST", "/theme", true);
                xmlhttp.send();
        }
        function openThemeDetail(id)
        {
            location.replace("/edittheme?id="+id);
        }
        function deleteTheme(id) {
            const data = { theme_id: id };
            if (confirm("Are you sure you want to delete this record?")) {
                fetch("/deletetheme", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(data)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        var res = data;
                        var html = "";
                        document.getElementById("theme_tbody").innerHTML="";
                        res.data.forEach(row => {
                            html += "<tr>" + "<td>" + row.theme_name + "</td>";
                            html += "<td><img src='" + row.image + "' width = '50' height = '70'></td>";
                            html += "<td>" + row.user + "</td>";
                            html += "<td>" + row.first_date + "</td>";
                            html += "<td>" + row.last_update_date + "</td>";
                            html += "<td><button onclick=\"openThemeDetail('" + row.theme_name + "')\">詳細</button></td>";
                            html += "<td><button onclick=\"deleteTheme('" + row.theme_id + "')\">削除</button></td></tr>";
                        });
                        document.getElementById("theme_tbody").innerHTML = html;
                        
                    })
                    .catch(error => {
                        // an error occurred, handle it here
                        console.error(error);
                    });
            } else {
                return;
            }

        }       
        loadPage();
    </script>
</body>

</html>