* {
    box-sizing: border-box;
}

body {
    background: #fcfcfc;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: black;
}

.heading1 {
    font-size: 4rem;
}

.para1 {
    font-size: 1.5rem;
}

.btn-exm {
    width: 25%;
}

.img-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.margintop-100 {
    margin-top: 100px;
}

.margintop-50 {
    margin-top: 50px;
}

.border {
    border: 1px solid black;
}

.padding-20 {
    padding: 20px;
}

.padding-10 {
    padding: 10px;
}


/* /Profile Card Css */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif
}

.card1 {
    height: 470px;
    overflow: hidden
}

.card1 .info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.card1 .forms {
    padding: 15px
}

.card1 .inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px
}

.card1 .inputs span {
    font-size: 12px
}

.card1 .inputs input {
    height: 40px;
    padding: 0px 10px;
    font-size: 17px;
    box-shadow: none;
    outline: none
}

.card1 .inputs input[type="text"][readonly] {
    border: 2px solid rgba(0, 0, 0, 0)
}

.gap-50 {
    gap: 10px 50px;
}

.padd-4 {
    height: 70px;
    width: 70px;
}

.t-30px {
    font-size: 30px;
}

.t-14px {
    font-size: 14px;
}

.bg-aqva {
    background-color: rgb(232, 237, 241);
}

.gap-20 {
    gap: 20px;
}

.padd-2 {
    height: 40px;
    width: 40px;
}

.modal1 {
    display: block !important;
}

.modal1-dialog {
    overflow-y: initial !important
}

.modal1-body {
    height: 250px;
    overflow-y: auto;
}

.genders {
    padding-top: 20px;
}

.genders label {
    padding-top: 0px;
    padding-left: 32px;
    padding-right: 5px;
}

.form-label {
    font-weight: 900;
    padding-top: 15px;
}


/* pou up  */

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#addPop {
    padding-left: 79%;
}


/* The actual popup */

.popup .popuptext {
    visibility: hidden;
    width: 392px;
    background-color: #198754;
    color: #fff;
    text-align: center;
    border-radius: 25px;
    padding: 19px 0;
    position: absolute;
    z-index: 1;
    bottom: 58%;
    left: 50%;
    margin-left: 23px;
}


/* Popup arrow */

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Toggle this class - hide and show the popup */

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}