<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password | eSparkBiz</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <section class="mainSection">
        <div class="container">


            <div class="rowSection">


                <div class="columnF">
                    <div class="divCard">
                        <div class="imgDiv">
                            <img src="/images/login.png" alt="Sample photo" class="img-fluid" style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                    </div>
                </div>


                <div class="columnS">
                    <div class="divCard">

                        <div class="allInputDiv">

                            <div class="titleCenter">
                                <h3 class="title">Login form</h3>
                            </div>

                            <form method="post" action="/updatePassword" onsubmit="return validateForm()">
                                <div class="row">




                                    <div class="form-outline mb-4">
                                        <input type="password" id="password" name="password" class="form-control form-control-lg" onkeyup="validPass(this.value)" placeholder="Password" required />
                                        <p id="password_lable"></p>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="confirm" name="confirm   " class="form-control form-control-lg" placeholder="Confirm Password" onchange="confim_password()" required />
                                        <p id="confirm_lable"></p>
                                    </div>



                                    <div class="d-flex justify-content-end pt-3">
                                        <input type="submit" id="submitAll" class="btn btn-warning btn-lg ms-2" value="Reset Password">
                                    </div>

                            </form>

                            </div>
                        </div>
                    </div>
                </div>
    </section>
</body>


<script>
    function validateForm() {
        var password = document.getElementById("password").value;
        var confirm = document.getElementById('confirm').value;
        // console.log(password, confirm);

        if (password != confirm) {
            document.getElementById("confirm_lable").innerHTML = 'Pelese Enter Same Password In both input filde';
            document.getElementById("confirm_lable").style.color = 'red';
            return false;
        }
    }



    function validPass(password) {
        const errors = [];
        if (password.length == 0) {
            document.getElementById("password_lable").innerHTML = ""
        } else {
            if (password.length < 3) {
                errors.push("Your password must be at least 3 characters");
            }
            if (password.search(/[a-z]/) < 0) {
                errors.push("Your password must contain at least one lower case letter.");
            }
            if (password.search(/[0-9]/) < 0) {
                errors.push("Your password must contain at least one digit.");
            }
            if (password.search(/[!@#\$%\^&\*_]/) < 0) {
                errors.push("Your password must contain at least special char from -[ ! @ # $ % ^ & * _ ]");
            }
            if (password.length > 10) {
                errors.push("Your password must be at max 10 characters");
            }
        }

        if (errors.length > 0) {
            document.getElementById("password_lable").innerHTML = errors.join("\n");
            document.getElementById("password_lable").style.color = "red";
            document.getElementById("submitAll").disabled = true;
        } else {
            document.getElementById("password_lable").innerHTML = ""
            document.getElementById("submitAll").disabled = false;
        }
    }
</script>

</html>